<%= form_for @conn, password_path(@conn, :update), [as: :account, method: :put], fn f -> %>
  <%= hidden_input f, :password_reset_token %>

  <div class="row m-t-3">
    <div class="col s12 m6 offset-m3">
      <div class="card grey lighten-5">
        <div class="card-content">
          <div class="input-field">
            <%= password_input f, :password, class: "validate", placeholder: "Enter new password" %>
            <%= label f, :password, "Password" %>
          </div>

          <div class="input-field">
            <%= password_input f, :password_confirmation, class: "validate", placeholder: "Confirm new password" %>
            <%= label f, :password_confirmation, "Confirm Password" %>
          </div>
        </div>

        <div class="card-action valign-wrapper">
          <%= submit(class: "btn-large waves-effect waves-light") do %>
            Reset Password
            <i class="material-icons right">chevron_right</i>
          <% end %>
        </div>
      </div>
    </div>
<% end %>
