<%= form_for @conn, password_path(@conn, :create), [as: :account], fn f -> %>
  <div class="row m-t-3">
    <div class="col s12 m6 offset-m3">
      <div class="card grey lighten-5">
        <div class="card-content">
          <div class="input-field">
            <%= email_input f, :email, class: "validate" %>
            <%= label f, :email, "Email" %>
          </div>
        </div>

        <div class="card-action valign-wrapper">
          <%= submit(class: "btn-large waves-effect waves-light") do %>
            Send Instructions
            <i class="material-icons right">send</i>
          <% end %>
        </div>
      </div>
    </div>
<% end %>
