<div class="row m-t-3">
  <h3>Register</h3>
</div>

<div class="row">
  <%= form_for @conn, registration_path(@conn, :create), [as: :registration, class: "col s12"], fn f -> %>
    <div class="row card-panel grey lighten-5 m-b-3">
      <div class="input-field col s6">
        <%= text_input f, :first_name, class: "validate", placeholder: "e.g. Barry" %>
        <%= label f, :first_name, "First Name" %>
      </div>

      <div class="input-field col s6">
        <%= text_input f, :last_name, class: "validate", placeholder: "e.g. Bluejeans" %>
        <%= label f, :last_name, "Last Name" %>
      </div>

      <div class="input-field col s12">
        <%= email_input f, :email, class: "validate" %>
        <%= label f, :email, "Email" %>
      </div>

      <div class="input-field col s6">
        <%= password_input f, :password, class: "validate" %>
        <%= label f, :password, "Password" %>
      </div>

      <div class="input-field col s6">
        <%= password_input f, :password_confirmation, class: "validate" %>
        <%= label f, :password_confirmation, "Confirm Password" %>
      </div>
    </div>

    <div class="row card-panel grey lighten-5 m-t-2 m-b-3">
      <%= label(f, :accept_terms) do %>
        <input id="accept_terms" type="checkbox" class="filled-in" />
        <%= checkbox f, :accept_terms, class: "filled-in" %>
        <span>
          I accept the <a href="#terms">Terms of Service</a> and <a href="#privacy">Privacy Policy</a>.
        </span>
      <% end %>
    </div>

    <div class="row">
      <div class="input-field col s12">
        <%= submit(class: "btn-large waves-effect waves-light") do %>
          Submit
          <i class="material-icons right">check</i>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
