<%= form_for @conn, session_path(@conn, :create), [as: :session], fn f -> %>
  <div class="row m-t-3">
    <div class="col s12 m6 offset-m3">
      <div class="card grey lighten-5">
        <div class="card-content">
          <div class="input-field">
            <%= email_input f, :email, class: "validate" %>
            <%= label f, :email, "Email" %>
          </div>

          <div class="input-field">
            <%= password_input f, :password, class: "validate" %>
            <%= label f, :password, "Password" %>
          </div>
        </div>

        <div class="card-action valign-wrapper">
          <%= submit(class: "btn-large waves-effect waves-light") do %>
            Login
            <i class="material-icons right">chevron_right</i>
          <% end %>

          <div class="m-l-auto">
            <%= link "Forgot your Password?", to: password_path(@conn, :new), class: "deep-purple-text text-darken-4" %>
          </div>
        </div>
      </div>
  </div>
<% end %>
