<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>LearnU</title>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">

    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>

  <body>
    <nav class="deep-purple darken-4" role="navigation">
      <div class="nav-wrapper container">
        <a href="/" class="brand-logo">
          <i class="material-icons">school</i>
          LearnU
        </a>

        <ul class="right hide-on-med-and-down">
          <li>
            <a href="register" class="waves-effect waves-light btn">Register</a>
          </li>
          <li>
            <%= link "Login", to: session_path(@conn, :new), class: "waves-effect waves-light btn" %>
          </li>
        </ul>

        <ul class="sidenav" id="nav-mobile">
          <li><a href="/register">Register</a></li>
          <li><%= link "Login", to: session_path(@conn, :new) %></li>
        </ul>
        <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
      </div>
    </nav>

    <div class="container">
      <main role="main">
        <%= render @view_module, @view_template, assigns %>
      </main>
    </div>

    <script type="text/javascript" src="<%= static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
